<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Recipes</title>
</head>
<body>
    <div class="container pt-3">
        <nav class="d-flex justify-content-between align-items-center">
            <h1>Welcome {{user_name}}!</h1>
            <div>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </nav>
        <main class="border border-primary w-50 p-4">
            <h1>{{recipe.title}}</h1>
            <p>Description: {{recipe.description}}</p>
            <p>Under 30 minutes: {{recipe.under_30_mins}}</p>
            <p>Instructions: {{recipe.instructions}}</p>
            <p>Date Made: {{recipe.date_made_on.strftime("%B %d, %Y")}}</p>
        </main>
    </div>
</body>
</html>